html {
	height: 100%;
}

body {
  background-image: url('/img/coffee-bg.jpg');
  background-size: cover;
	height: 100%;
	font-family: 'Arvo', serif;
	color: black;
}

a {
	text-decoration: none;
	color: inherit;
}

input[type=submit], button {
	cursor: pointer;
}

nav {
	width: 100%;
	height: 4.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #EEEEEE;
}

nav form {
	display: inline;
	margin: 0;
	padding: 0;
}

nav input {
	font-size: 90%;
	margin: 0;
	padding: 0;
	color: inherit;
}

nav input, nav a  {
	background: none;
	border: none;
	margin: 1.5em;
}

.logo {
	font-size: 3em;
}

main {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
}

.content {
	background-color: #EEEEEE;
	max-width: 75%;
	height: auto;
	padding: 10%;
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

h1 {
	font-family: 'Arvo', serif;
	font-size: 4em;
	font-weight: bolder;
}

h3 {
	font-family: 'Arvo', serif;
	font-size: 1.5em;
}

main input, main button {
	border: 1px solid;
	border-color: inherit;
	margin: .5em;
	padding: .25em;
	background-color: white;
	display: block;
	color: inherit;
}

li {
	margin: .5em;
}

ul {
	margin: 1em;
}

main button {
	display: inline-block;
	text-align: center;
}

input[name=description] {
	height: 4em;
}

textarea {
	color: inherit;
}
