Enter your login information:
<form class="" action="/sessions/login" method="post">
  <input type="text" name="email" value="Email">
  <input type="password" name="password" value="Password">
  <input type="submit" name="" value="Log in">
</form>
