<form class="" action="/brews/{{id}}" method="post">
  Bean Type: <input type="text" name="beanType" value="Example Bean">
  Brew Method: <input type="text" name="brewMethod" value="Chemex">
  Mass beans: <input type="text" name="massBeans" value="10"> g
  Grind setting: <input type="text" name="grindSetting" value="5">
  Water temperature: <input type="text" name="waterTemp" value="205"> ºF
  Rating: <input type="text" name="rating" value="5">
  Description: <input type="text" name="description" value="What did you like about this cup? What didn't you like? What do you want to try next time?">
  <input type="submit" name="" value="Submit">

</form>
